* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

section {
    width: 100%;
    height: 100%;
}



#background {
    background: url(../images/scene1.svg) center center;
    background-size: cover;
    transition: all 7s;
}


.textblocks{
  /* overflow: hidden; */
  position: relative;
}

.textblocks article{
  display: block;
  /* left: 150%; */
  width: 100%;
    z-index: 9999;
    background-color:rgba(255, 255, 255, 0.8);
    margin:20;
    padding: 20px;
    column-gap: 400px;
}

.textblocks article h1{
  display: block;
  font-family: 'Roboto', sans-serif;

}

.textblocks article p{
  font-family: 'Roboto', sans-serif;
  padding-top: 15px;

}

.textblocks article img{
  padding-top: 15px;
  height: 50%;
  width: 50%;
}

#text1 {
  width:70%;
  height: 40%;
  position: absolute;
  top:10%;
  left:100%;
  z-index: 99;
  transition: all 1s;
  padding: 25px;
}

#text2{
  width:70%;
  height: 40%;
  position: absolute;
  top:10%;
  left:100%;
  z-index: 99;
  transition: all 1s;
  padding: 25px;
}
#text3{
  width:70%;
  height: 40%;
  position: absolute;
  top:10%;
  left:100%;
  z-index: 99;
  transition: all 1s;
  padding: 25px;
}
#text4{
  width:70%;
  height: 40%;
  position: absolute;
  top:10%;
  left:100%;
  z-index: 99;
  transition: all 1s;
  padding: 25px;
}
#text5{
  width:70%;
  height: 40%;
  position: absolute;
  top:10%;
  left:100%;
  z-index: 99;
  transition: all 1s;
  padding: 25px;
}
#text6{
  width:70%;
  height: 40%;
  position: absolute;
  top:10%;
  left:100%;
  z-index: 99;
  transition: all 1s;
  padding: 25px;
}
#text7{
  width:70%;
  height: 40%;
  position: absolute;
  top:10%;
  left:100%;
  z-index: 99;
  transition: all 1s;
  padding: 25px;
}
#text8{
  width:70%;
  height: 40%;
  position: absolute;
  top:10%;
  left:100%;
  z-index: 99;
  transition: all 1s;
  padding: 25px;
}
#text9{
  width:70%;
  height: 40%;
  position: absolute;
  top:10%;
  left:100%;
  z-index: 99;
  transition: all 1s;
  padding: 25px;
}


.buttonposition{
  position: absolute;
  bottom: 10%;
  left: 48%;


}


#button1{
  display: block;
  opacity: 0;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button1:hover{
  background-color:#0D8B2D;
}

#button1 {
  animation: 10s ease 0s normal forwards 1 button1fadein;
}

@keyframes button1fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

#button2{
  display: none;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button2:hover{
  background-color:#0D8B2D;
}
#button3{
  display: none;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button3:hover{
  background-color:#0D8B2D;
}

#button4{
  display: none;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button4:hover{
  background-color:#0D8B2D;
}
#button5{
  display: none;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button5:hover{
  background-color:#0D8B2D;
}
#button6{
  display: none;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button6:hover{
  background-color:#0D8B2D;
}
#button7{
  display: none;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button7:hover{
  background-color:#0D8B2D;
}
#button8{
  display: none;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button8:hover{
  background-color:#0D8B2D;
}
#button9{
  display: none;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button9:hover{
  background-color:#0D8B2D;
}

#button10{
  display: none;
  background-color:#2fe05c;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  width: 95px;
	padding:9px 27px;
	text-decoration:none;
}
#button10:hover{
  background-color:#0D8B2D;
}








/* POLAR BEAR EYES */

#eyes{
    position: absolute;
    top: 60%;
    left: 30%;
}

.blink{
    animation: 2s ease 0s normal forwards 1 blink;
}

@keyframes blink{
    0% { scale:5%; }
    66% { scale:60%; }
    100% { scale:1; }
  }

/* DOWN ARROW ANIMATION */
.down-arrow{
    width: 50px;
    position: absolute;
    bottom: 50px;
    right:45%;
}


#arrowfadein {
  animation: 10s ease 0s normal forwards 1 arrowfadein;
}

@keyframes arrowfadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}


.down-arrow {
    animation: MoveUpDown 1.7s linear infinite;
    animation-delay: 10s;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 10;
      opacity: 100%;
    }
    50% {
      bottom: 80px;
    }
  }

  .figure{
    z-index: 999;
  }

/* INITIAL TEXT */
.alaska{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 84px;
    color: white;
    position: absolute;
    top: 60px;
    left: 250px;
}

#alaskafadein {
    animation: 4.5s ease 0s normal forwards 1 alaskafadein;
  }
  
  @keyframes alaskafadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
  }
  
  
.firstdate{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 52px;
    color: white;
    position: absolute;
    top: 200px;
    left: 47%;
}

#firstdatefadein {
    animation: 6s ease 0s normal forwards 1 firstdatefadein;
  }
  
  @keyframes firstdatefadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
  }

  #seconddate{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 52px;
    color: white;
    position: absolute;
    top: 100px;
    left: 47%;
    display: none;
    animation-delay: 25s all;
}

#seconddatefadein {
    animation: 23s ease 0s normal forwards 1 seconddatefadein;
  }
  
  @keyframes seconddatefadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
  }





#left_icefloat{
  width: 47.074122236671%;
  height: 35.5452971725332%;
  position: absolute;
  bottom:0px;
  left:-5%;
  transition: all 34s;

}

#right_icefloat{
  width: 31.5019505851756%;
  height: 38.5458742065782%;
  position: absolute;
  bottom:0px;
  right:-5%;
  transition: all 45s;

}

#left_iceberg{
  width: 26.25%;
  height: 11.4252740911714%;
  position: absolute;
  bottom:51.5291402192729%;
  left:-50px;
  transition: all 20s;
}

#small_iceberg{

  position: absolute;
  bottom:51.5291402192729%;
  left:-150%;
  transition: all 17s;
}

#right_iceberg{
  width: 27.8283485045514%;
  height: 13.8488170802077%;
  position: absolute;
  bottom:51.5291402192729%;
  right:-2%;
  transition: all 20s;
}

#sun{
  width: 09.2327698309493%;
  height: 16.3877668782458%;
  position: absolute;
  top: 07.9053664166186%;
  right: 06.5019505851756%;
  transition: all 3s;
}

#b1{
  position: absolute;
  width: 183px;
  height: 156.69px;
  bottom: 20%;
  left: 20%;
  z-index: 50;
  transition: all 10s;
}

#sad_bear{
  width: 19.8913975421549%;
  height: 30.4673975764572%;
  position: absolute;
  bottom:-120px;
  right:50px;
  left:120%;
  transition: all 34s;

}

#bear1 {
  width: 183px;
  height: 156.69px;
  margin: 2% auto;
  background: url('../images/bear_walk_right.svg') left center;
  animation: blink 4s steps(16) infinite;
}

@keyframes blink {
	5%, 100% { background-position: -2928px; }
}


#b2{
  position: absolute;
  width: 183px;
  height: 156.69px;
  bottom: 6%;
  left: 3%;
  z-index: 50;
  transition: all 10s;
}

#bear2 {

  width: 183px;
  height: 156.69px;
  bottom: 6%;
  left: 3%;
  margin: 2% auto;
  background: url('../images/bear_walk_right.svg') left center;
  animation: blink 5s steps(16) infinite;
}

@keyframes blink {
	3%, 100% { background-position: -2928px; }
}

#b3{
  position: absolute;
  width: 183px;
  height: 156.69px;
  bottom: 18%;
  right: 10%;
  z-index: 50;
  transition: all 10s;
}

#bear3 {
  width: 183px;
  height: 156.69px;
  margin: 2% auto;
  background: url('../images/bear_blink_left.svg') left center;
  animation: blink 6s steps(16) infinite;
}

@keyframes blink {
	4%, 100% { background-position: -2928px; }
}

#b4{
  position: absolute;
  width: 94;
  height: 81px;
  bottom: 7%;
  right: 11%;
  z-index: 50;
  transition: all 13s;
}

#bear4 {
  width: 94px;
  height: 81px;
  margin: 2% auto;
  background: url('../images/baby_blink.svg') left center;
  animation: babyblink 4s steps(16) infinite;
}

@keyframes babyblink {
	4%, 100% { background-position: -1504px; }
}


#bear_walking_right {
  width: 183px;
  height: 158px;
  display: none;
  position: absolute;
  z-index: 999;
  bottom: 16%;
  right: 7%;
  margin: 1% ;
  background: url('../images/bear_walking_right.svg') left center;
  animation: play .7s steps(5) infinite;
}

@keyframes play {
  100% { background-position: -930px; }
}

#bear_walking_left {
  width: 186px;
  height: 158px;
  display: none;
  position: absolute;
  z-index: 999;
  bottom: 16%;
  right: 7%;
  margin: 1% ;
  background: url('../images/bear_walking_left.svg') left center;
  animation: play .7s steps(5) infinite;
}

@keyframes play {
  100% { background-position: -930px; }
}

#bear_walking_left2 {
  width: 186px;
  height: 158px;
  display: none;
  position: absolute;
  z-index: 999;
  bottom: 16%;
  right: 7%;
  margin: 1% ;
  background: url('../images/bear_walking_left.svg') left center;
  animation: play .7s steps(5) infinite;
}

@keyframes play {
  100% { background-position: -930px; }
}


#baby_walk {
  width: 96px;
  height: 82px;
  display: none;
  position: absolute;
  z-index: 999;
  bottom: 16%;
  right: 7%;
  margin: 1% ;
  background: url('../images/baby_walk.svg') left center;
  animation: baby .7s steps(5) infinite;
}

@keyframes baby {
  100% { background-position: -479px; }
}

#trash_can {
  width: 128px;
  height: 60px;
  position: absolute;
  z-index: 999;
  bottom: -120px;
  right: 200%;
  margin: 1% ;
  transition: 20s all;
  animation-delay: 10s all;

}

#trash1fadein {
  animation: 20s ease 0s normal forwards 1 trash1fadein;
}

@keyframes trash1fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

#trash_cup {
  width: 128px;
  height: 60px;
  position: absolute;
  z-index: 999;
  bottom: -120px;
  right: 120%;
  margin: 1% ;
  transition: 23s all;
  animation-delay: 12s all;

}

#trash2fadein {
  animation: 23s ease 0s normal forwards 1 trash2fadein;
}

@keyframes trash2fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

#mobile{
  display: none;
}

#pleasedesktop{
  display: none;
}

@media (max-width:600px){
#mobile{
  display: block;
  background: url(../images/mobile_backdrop.svg) center center;
  background-size: cover;  
  height: 100%;
  width: 100%;
  opacity: 5%;
  filter: blur(5);
  z-index: 999999999999999999999999;
}

#pleasedesktop{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: white;
  position: absolute;
  top: 30%;
  left: 10%;
}

#b1, #b2, #b3, #b4, #left_icefloat, #right_icefloat, #left_iceberg, #right_iceberg, #sun, #button1, #firstdate, .alaska, #alaskafadein, .firstdate, #firstdatefadein  {
  display: none;
}
}