* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'AvenirNextLTPro-Regular';
}

html, body {
    height: 100%;
}

/***###Fonts###***/
@font-face {
	font-family: 'AvenirNextLTPro-Regular';
	src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNext-Medium';
	src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Medium.woff') format('woff'), url('../fonts/AvenirNext-Medium.ttf') format('truetype'), url('../fonts/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNextLTPro-Bold';
	src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype'), url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNext-DemiBold.woff') format('woff'), url('../fonts/AvenirNext-DemiBold.ttf')  format('truetype'), url('../fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/***### End Font ###***/


section {
    width: 100%;
    height: 100%;
    position: relative;
}

#myVideo {
    position: relative;
    right: 0;
    z-index: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

nav{
    z-index: 3;
    padding-bottom: 25px;
}


.nav-bar {
    background-color: white;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    padding-top: 30px;

}

.nav-bar a{
    float: right;
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'AvenirNext-Medium';
    font-size: 18px;
    letter-spacing: 1.5px;
}

.toplinks{
    padding-right: 32px;
}

.nav-bar a:hover {
    color: slategray;
  }

nav img{
    width: 80px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 25px;
}


#s1{
    min-height: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
}


.down-arrow{
    z-index: 3;
    width: 50px;
    position: absolute;
    bottom: 100px;
    right:50%;

}

#fadein {
  -webkit-animation: 39s ease 0s normal forwards 1 fadein;
  animation: 39s ease 0s normal forwards 1 fadein;
}


@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

.down-arrow {
    animation: MoveUpDown 1.5s linear infinite;
    animation-delay: 1s;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 10;
      opacity: 100%;
    }
    50% {
      bottom: 90px;
    }
  }



#s2 h1{
    font-family: 'AvenirNext-Medium';
    font-size: 22px;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}

#s2 {
  min-height: 70%;
  height: auto;
  display: flex; 
  flex-flow: row wrap;
  padding-bottom: 300px;
}

#s2 img{
    max-width: 100%;
    height: auto;
    padding: 20px;
  }

  .grow { transition: all .3s ease-in-out; }
  .grow:hover { transform: scale(.95); }

  transfo

#s2 article {
  background-color: white;
  margin: 20px;
  width: 40%;
  display: flex;
  text-align: center;
  line-height: 40px;
}



#s2 a:hover, #s2 a:visited, #s2 a:link, #s2 a:active
{
    text-decoration: none;
}




#s3{
    min-height: 100%;
    height: auto;
    padding-top: 170px;
    display: flex;
    justify-content: center;
}

#s3 h1{
    font-family: 'AvenirNext-Medium';
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}


#s3 a {
background-color: black;
color: white;
display: inline-block;
padding: 20px;
padding-left: 35px;
padding-right: 35px;
border-radius: 50px;
justify-content: center;
font-size: 24px;
letter-spacing: 2px;
text-decoration: none;
}

#s3 a:hover {
background-color: #555;
}

#s3 a:active {
background-color: black;
}

