div{
	width: 50%;
	background-color: darkcyan;
	margin: 0 auto;
	position: relative;
}

section{
	background-color: palevioletred;
	color: azure;
	width: 100px;
	height: 50px;
	margin: 20px;
	padding: 20px;
	height: 100px;
}

#abso {
	background-color: bisque;
	position: absolute;
	right: 0;
	top: 0;

}

}