nav {
	background-color: #333;
	color: #fff;
	font-style: italic;
	padding: 20px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

div {
	background-color: darkseagreen;
	width: 50%;
	padding: 20px;
	margin: 60px auto 20px;


}


.floater {
	padding: 20px;
	background-color: aqua;
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 20px 20px 0;


}