section{
	background-color: palevioletred;
	color: azure;
	width: 100px;
	height: 50px;
	margin: 20px;
	padding: 20px;
	height: 100px;



}
.rel {
	background-color: deepskyblue;
	position: relative;
	right: 50px;
	bottom: 50px;
}