body {
  background: #24aecd;
}

.monster {
  width: 459px;
  height: 393px;
  margin: 2% auto;
  background: url('https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/blog/monster.png') left center;
  animation: play .7s steps(5) infinite;
}

@keyframes play {
	100% { background-position: -2295px; }
}