body {
  background: #24aecd;
}

.bear1 {
  width: 459px;
  height: 393px;
  margin: 2% auto;
  animation: blink .5s steps(16) infinite;
}

@keyframes blink {
	5%, 100% { background-position: -7344px; }
}

